
img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.img_column {
    width: 10%;
    padding-left: 1%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.artists {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

p, h2 {
    color: white;
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#list {
    width: 100%;
    height: 90%;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist {
    margin-bottom: 0.3rem;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    

    .name {
        font-size: 150%;
    }

    position: relative;
    box-shadow: 0px 2px 2px rgb(0, 0, 0);
    background-color: rgb(255, 81, 0);
    border-radius: 20px;
    width: 80%;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom center;
        transition: transform 0.25s ease-out;
    }
    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom center;
    }
}

.title {
    margin-block: 1%;
    margin-left: 1rem;
    background-color: #ff003c;
    border-radius: 25px;
    width: auto;
    white-space: nowrap;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
}

app-search-bar {
    width: 50%;
}

#add-artist {
    width: 100%;
    display: flex;
    justify-content: center;
    .add-button {
        width: 8%;
        padding-top: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
    }
}

#create-artist-popup {
    width: 100%;
    height: 90%;
    position: absolute;
}

.add-button {
    overflow: hidden;
    & > button {
        cursor: pointer;
        transition: width 2s, height 2s, transform 2s;
    }
}

#plus:hover {
    transform: rotate(180deg);
}

.artist_actions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

app-pagination-bar {
    height: 10%;
    width: 100%;
}