<div id="list">
    <div id="header">
        <div class="title">
        <h2>List of artists</h2>
        </div>
    </div>
    <article>
        <div class="artists">
        @for (artist of artists; track $index) {
            <div class="artist_actions">
                <div class="artist" [routerLink]="['/artists', artist.id]">
                    <div class="img_column">
                        <img src="../../assets/details.svg" />
                    </div>
                    <div>
                        <p class="name">{{artist.label}}</p>
                    </div>
                </div>
                <div class="img_column">
                    <img src="assets/trash-icon.svg" (click)="deleteArtist(artist.id)" />
                </div>
            </div>
        }
        </div>
    </article>
</div>
<aside>
    <div class="nav-button">
        <button id='plus' (click)="showCreatePopUp()">
            <img src="assets/create.svg" />
        </button>
    </div>
</aside>
<div id="create-artist-popup" [hidden]="isHiddenPopUp">
    <app-artist-management [editMode]="false" (hiddenChange)="hidePopUp()" (artistChange)="loadChildren()"></app-artist-management>
</div>
<app-pagination-bar [pageNumber]="pageNumber" [totalPages]="totalPages" (pageNumberChange)="pageChange($event)"></app-pagination-bar>
