<div id="events">
    <div id="header">
        <div class="title">
        <h2>List of events</h2>
        </div>
    </div>
    <article>
        <div class="list">
        @for (event of events; track $index) {
            <div class="event" [routerLink]="['/events', event.id]">
                <div class="img_column">
                    <img src="../../assets/details.svg" />
                </div>
                <div>
                    <p class="name">{{event.label}}</p>
                    <p class="dates">From : {{event.startDate}} -  To : {{event.endDate}}</p>
                    @if(event.artists.length >= 1) {
                        <p class="artists">Will be present {{event.artists.length}} artists: {{event.artists[0].label}}
                            @if(event.artists.length > 2) {
                                , {{event.artists[1].label}}
                            }...</p>
                    }
                </div>
            </div>
        }
        </div>
    </article>
</div>
<aside>
    <div class="nav-button">
        <button id='plus' (click)="showCreatePopUp()">
            <img src="assets/create.svg" />
        </button>
    </div>
</aside>
<div id="create-event-popup" [hidden]="isHiddenPopUp">
    <app-event-management [editMode]="false" (hiddenChange)="hidePopUp()" (eventChange)="loadChildren()"></app-event-management>
</div>
<app-pagination-bar [pageNumber]="pageNumber" [totalPages]="totalPages" (pageNumberChange)="pageChange($event)"></app-pagination-bar>
