#artist-detail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#artist-text {
    color:aliceblue;
    background-color: #000000b5;
    margin: 2rem;
    margin-block: 5rem;
    border-radius: 35px;
    padding: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-popup {
    position: absolute;
    width: 100%;
    height: 100%;
}

:host {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

button {
    background: #ff003c;
    border-radius: 999px;
    box-shadow: #ff003c 0 10px 20px -10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 18px;
    border: 0;
    margin: auto;
}

.back-arrow {
    padding: 2rem;
    img {
        width: 50%;
    }
}